html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: arial, Impact, 'Arial Narrow Bold', sans-serif; 
}

body {
  background-image: url(https://cdn4.vectorstock.com/i/1000x1000/24/13/digital-space-background-with-stars-and-numbers-vector-15772413.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
    text-align: center;
    color: rgb(139, 18, 139);
    padding: 60px 0px 0px 0px;
    text-shadow: 2px 2px gray;
    font-size: 45px;
  
}

.container {
    display: flex;
    justify-content: center;

  }
  
  .column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  li {
    margin-bottom: 5px;
    text-align: center;
    padding: 10px 0px 10px 20px;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 10px;
    max-width: 250px;
    min-width: 250px;
    position: relative;
    height: 20px;
  }

#column1 {
    list-style: none;
    padding: 0px 0px 0px 1000px;
    position: relative;

}

#column2 {
    list-style: none;
    padding: 0px 1000px 0px 0px;
    position: relative;
}

.column p {
    background-color: rgb(139, 18, 139);
    color: white;
    font-size: 20px;
    position: absolute;
    margin: -45px 0px 0px 0px ;
    padding: 9px 5px 8px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    padding: 9px 10px 8px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.draw-container {
    margin-top: 20px;
    text-align: center;
  }

.highlight {
  background-color: rgb(137, 207, 230);
}

#result {
  color: white;
  font-size: 50px;
}

#draw {
  background-color: green;
  color: white;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

#message {
  color: White;
  font-size: 40px;
}

#retry {
  background-color: rgb(182, 26, 26);
  color: white;
  outline: none;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
}

#instructions {
  color: white;
  text-align: center;
  padding: 0px 405px 30px 405px;
  font-size: 20px;
}